/* Custom Stylesheet */

 .top-panel {
   background-image: url(src = "bgpanel.png");
 }

 .board {
     text-align: center;
     width: 100%;
     margin: 50px auto 0 auto;
     padding: 20px;
     background-color: transparent;
 }

 .board span {
 	position: relative;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-justify-content: center;
 	-ms-flex-pack: center;
 	justify-content: center;
 	-webkit-align-items: center;
 	-ms-flex-align: center;
 	align-items: center;
 	max-width: 100%;
 	pointer-events: none;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#nav_bar {
	opacity: 0.8;
}

#adityadhingra {
    font-family: 'Vollkorn', serif;
}

#card.action {

}

#projects-text {
    font-family: 'Bungee Outline';
    font-size: 50px;
}

#contact_form {
    border-radius: 40px;
}

.input-field label {
     color: white;
   }

.input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#email-icon{
  font-size: 36px;
}
